language: php

php:
  - 5.5
  - 5.6
  - 7.1
  - 7.2
  - nightly

matrix:
  fast_finish: true
  allow_failures:
    - php: 5.5
    - php: 5.6
    - php: nightly

before_script:
  - cp .env.travis .env
  - cp phpunit.xml.dist phpunit.xml
  - composer install --no-interaction --prefer-source --dev

script:
  - vendor/bin/phpunit
